export(partial_cor)
export(predict_style)
export(rep_style_alpha)
export(rep_style_cor)
export(rep_style_roc)
export(sim_style_data)
importFrom(MASS,mvrnorm)
importFrom(gtools,odd)
importFrom(ltm,cronbach.alpha)
importFrom(magic,adiag)
importFrom(truncnorm,rtruncnorm)
